/Other
/Virtion.IM/.vs
/Virtion.IM/Virtion.IM.View/obj
/Virtion.IM/Virtion.IM.View/bin
/Virtion.IM/Debug
/Virtion.IM/Virtion.IM.Model/obj
/Virtion.IM/Virtion.IM.Model/bin
/Virtion.IM/Virtion.Util/obj
/Virtion.IM/Virtion.Util/bin
/Virtion.IM/Virtion.IM.Controls/obj
/Virtion.IM/Virtion.IM.Controls/bin
/Virtion.IM/Virtion.IM.Biz/bin
/Virtion.IM/Virtion.IM.Biz/obj
